
 <!-- Bootstrap -->
    <link href="../../css/datatables.net/css/jquery.dataTables.min.css">
<!-- Datatables -->
    
    <link href="../../css/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->   

    <link rel="stylesheet" href="../../css/sells-history.css">

<!-- page content -->
<div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Historial de Ventas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                        <div class="history-table">
                          <div class="search-bytime">
                                  <label for="from-date">Busqueda por fecha del:</label>
                                  <input id="from-date" name="from-date" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
												
                                  <label for="to-date"> al:</label>
                                  <input id="to-date" name="to-date" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                  <script>
											function timeFunctionLong(input) {
												setTimeout(function() {
													input.type = 'text';
												}, 60000);
											}
								</script>
                  <button class="btn btn-info" onclick="searchByDate()">Buscar</button>
                          </div>
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <table id="datatable-buttons" class="table table-striped table-compact dt-responsive nowrap table-bordered" style="width:100%;"  cellspacing="0">
                     <thead>
                        <tr>
                          <th>ID</th>
                          <th>Fecha</th>
                          <th>Total</th>
                          <th>Cliente</th>
                          <th>Empleado</th>
                          <th>Sucursal</th>
                          <th>Forma de pago</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody id="tbody-sells">
                        {{#each sells}}
                        <tr id="tr{{this.id}}">
                          <th>{{this.id}}</th>
                          <th>{{this.date}}</th>
                          <th>$ {{this.amount}}</th>
                          <th>{{this.customer}}</th>
                          <th>{{this.emplooy}}</th>
                          <th>{{this.branch}}</th>
                          <th>{{this.howPaid}}</th>
                          <th>
                            <button class="btn btn-info" onclick="seeDetail({{this.id}})">Detalles</button>
                            <button class="btn btn-danger" onclick="deleteSell({{this.id}})"><i class="fa fa-trash"></i></button>
                            </th>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="history-table-details ">
               <table class="table table-striped table-compact table-bordered">
                 <thead>
                   <tr>
                     <th>Cantidad</th>
                     <th style="col-md-5">Producto</th>
                     <th>Precio</th>
                   </tr>
                 </thead>
                 <tbody id="tbody-details">
                 </tbody>
               </table>
              </div>
              </div>
            </div>
                </div>
              </div>
<script src="../../js/seeDetails.js"></script>
<script src="../../js/searchSellsByDate.js"></script>